.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 2rem;
    color: #6900ff;
}

.purple{
    color:#6900ff;
}

.logIn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}